/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 @import 'global_settings.css.scss';

.pull-left.form_wrapper {
  margin-right: 50px;
}

.sym.average {
  text-decoration: overline;
}

.large-data {
  font-size: 47px;
  text-align: center;
}
.large-data span {
  display: inline-block;
  color: $c_blue;
  width: 75px;
}
.large-data.text {
  text-align: left;
}
.large-data.text .label {
  width: auto;
  text-align: left;
  margin-bottom: 15px;
}
.large-data .label {
  margin-right: 25px;
  text-align: center;
}
.large-data .value {
  text-align: left;
}

.large-data.empty {
  @include opacity(0.25,25);
}

th.sym {
  font-size: 13px;
  color: $c_blue;
  text-transform: none;
}

tr.grievence {
  background-color: lighten($c_green,50);
}

.subsec {
  border-top: 1px solid #ddd;
  margin-top: 10px;
  padding-top: 10px;
  width: 100%;
}

.sym.green {
  color: $c_green;
}

/*
*
* D3
*
*/

.chart div {
  font: 10px sans-serif;
  background-color: $c_blue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

#page_graph {
  font-size: 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: $c_blue;
}

.x.axis path {
  display: none;
}
/*** area ***/

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  fill: $c_blue;
}

/*** line ***/

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}