$c_green: #7BA933;
$c_blue: #5bb9d4;


@mixin opacity($decimal: 0.50,$integer:50) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$integer})";
  filter: alpha(opacity=#{$integer});
  -moz-opacity: #{$decimal};
  -khtml-opacity: #{$decimal};
  opacity: #{$decimal};
}