- @order_index = @order_index.nil? ? 0 : @order_index + 1
- unless page.nil?
  - present(page,TwilioSurveyor::PageStatsPresenter) do |page_presenter|
    %tr{class: page_presenter.tag_classes}
      %td= @order_index
      %td= page.response_type.to_s
      %td= page_presenter.page_link
      %td= page.answers.count.to_s
      %td= page_presenter.sigma
      %td= page_presenter.average
      %td= page_presenter.menu
