- present(@page,TwilioSurveyor::PageStatsPresenter) do |page_presenter|
  - if @page.response_type == 'record'
    - graph_title = "Duration of Calls"
    - data = page_presenter.stats.duration_array.to_json
  - elsif @page.response_type == 'message'
    - graph_title = "This is a message.  There is no user response."
  - elsif @page.response_type != 'info'
    - graph_title = "Frequency Vs. Response"
    - data = page_presenter.stats.average_array.to_json

  - unless data.nil?
    - content_for :javascripts do
      = javascript_include_tag "http://d3js.org/d3.v3.min.js"
      :javascript
        var data = #{data}

  %h1 #{TwilioSurveyor::Page.display_name.capitalize} ( #{@page.id.to_s} ) 

  .split-boxes.clearfix
    .right-box.content-box
      %h2= graph_title
      #page_graph{ data: {type: "#{@page.response_type}" } }

    .left-box.content-box
      .tools.pull-right
        %span= link_to 'XML', page_path(@page)+".xml"
        %span= link_to 'Edit Doc', edit_doc_path(@page.doc)

      .pull-left
        = model_data TwilioSurveyor::Group.display_name.capitalize , page_presenter.group_links
        = model_data TwilioSurveyor::Doc.display_name.capitalize , page_presenter.doc_link
        = model_data "Reference Name", @page.reference_name
        = model_data "Index", @page.index.to_s
        = model_data "Max Length", @page.max_length.to_s
        = model_data "Num Digits", @page.num_digits.to_s
        = model_data "Menu", @page.menu.to_json

        .subsec
          = model_data "# Answers", @page.answers.count
          = model_data "Average", page_presenter.average
          = model_data "Sigma", page_presenter.sigma


.content-box
  %table
    %thead
      %tr
        %th index
        %th type
        %th value

    %tbody
      = render @page.speaks