= simple_nested_form_for(@organization, html: { class: 'form-horizontal'} ) do |f|
  .field
    = f.input :reference_name, label: "#{TwilioSurveyor::Organization.display_name} Name"
    = f.text_area :summary
    = f.input :incoming_number
    = f.input :outgoing_number
    = f.input :outside_number
    = f.input :code

  .field
    = f.association :group, label_method: :reference_name

  .form-tools
    = f.button :submit, class: 'btn btn-info'