- unless organization.nil?
  - present(organization,TwilioSurveyor::OrganizationStatsPresenter) do |organization_presenter|
    %tr
      %td= organization.reference_name
      %td= organization.code
      %td= organization.users.count
      %td= organization_presenter.rating
      %td= organization_presenter.sigma_score
      %td= organization_presenter.reliability_score
      %td= organization_presenter.use_score
      %td= link_to 'Show', organization
      %td= link_to 'Edit', edit_organization_path(organization)
      %td= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' }