- @organization = @model if @organization.nil?

%h1 Editing #{TwilioSurveyor::Organization.display_name.capitalize}
= render 'form'
= link_to 'Show', @organization
|
\#{link_to 'Back', organizations_path}