%h1 Listing #{TwilioSurveyor::Organization.plural_name}

.content-box
  = render 'twilio_surveyor/shared/filter_form', skip_number: true, skip_organization: true, skip_doc: true
  
.content-box
  .info 
    %span.total
      #{pluralize(@organizations.count, TwilioSurveyor::Organization.display_name)}

  %table
    %thead
      %tr
        %th #{TwilioSurveyor::Organization.display_name.capitalize} Name
        %th Code
        %th # #{TwilioSurveyor::User.plural_name.capitalize}
        %th.sym Score
        %th.sym Sigma
        %th.sym Reliability
        %th.sym Use
        %th
        %th
        %th

    %tbody
      = render @organizations

= link_to "New #{TwilioSurveyor::Organization.display_name.capitalize}", new_organization_path
