- present(@organization,TwilioSurveyor::OrganizationStatsPresenter) do |organization_presenter|

  %h1 #{TwilioSurveyor::Organization.display_name.capitalize} ( #{@organization.id.to_s} )

  .split-boxes.clearfix
    .right-box.content-box
      .large-data.text
        %span.label Score:
        %span.value= organization_presenter.rating 
      = model_data "Sigma Score", organization_presenter.sigma_score
      = model_data "Reliability Score", organization_presenter.reliability_score
      = model_data "Use Score", organization_presenter.use_score

    .left-box.content-box
      .tools.pull-right
        %span= link_to 'List', organizations_path
        %span= link_to 'Edit', edit_organization_path(@organization)
        %span= link_to 'Destroy', @organization, method: :delete, data: { confirm: 'Are you sure?' }

      .pull-left
        = model_data "Name", @organization.reference_name
        = model_data "Code", @organization.code
        = model_data "#{TwilioSurveyor::Group.display_name}", organization_presenter.group_name
        = model_data "# #{TwilioSurveyor::User.plural_name}", organization_presenter.stats.num_users
        = model_data "# #{TwilioSurveyor::Call.plural_name}", organization_presenter.stats.num_calls
        = model_data "Summary", @organization.summary


  %h1 #{TwilioSurveyor::Organization.display_name.capitalize}  #{TwilioSurveyor::User.plural_name.capitalize}  

  .content-box
    .info
      %span.total 
        #{pluralize(@organization.users.count, TwilioSurveyor::User.display_name.capitalize )}

    %table
      %thead
        %tr
          %th #{TwilioSurveyor::User.display_name} since
          %th number
          %th #{TwilioSurveyor::Organization.display_name}
          %th # #{TwilioSurveyor::Doc.plural_name}
          %th last #{TwilioSurveyor::Doc.display_name}
          %th.sym &Delta;&sigma;
          %th.sym &oplus;

      %tbody
        = render @organization.users

  = link_to 'Edit', edit_organization_path(@organization)
  |
  \#{link_to 'List', organizations_path}