- params = "/" + f if (defined?(f) && !f.nil?)

- present(call,TwilioSurveyor::CallStatsPresenter) do |call_presenter|
  - unless call.nil?
    %tr{ class: call_presenter.call_filter_classes }
      %td= link_to call_presenter.time_stamp, call_path(call) + params.to_s
      %td= call_presenter.duration
      %td= call_presenter.user_link
      %td= call_presenter.sigma_difference
      %td= call_presenter.score
      %td= call_presenter.group_link
      %td= call_presenter.organization_link
      %td= call_presenter.doc_links
