- unless call.nil?
	- present(call,TwilioSurveyor::CallStatsPresenter) do |call_presenter|

		.split-boxes.clearfix
			.right-box.content-box
				.large-data
					%span.label.sym.average &Delta;&sigma;
					%span.value= call_presenter.sigma_difference 
				%div{ class: "large-data #{' empty' unless call_presenter.stats.has_score? }" }	
					%span.label &oplus;
					%span.value= call_presenter.score

			.left-box.content-box
				= model_data TwilioSurveyor::User.display_name, call_presenter.user_link
				= model_data "time", call_presenter.time_stamp
				= model_data "duration", call_presenter.duration
				= model_data "recordings", call_presenter.recording_duration
				= model_data TwilioSurveyor::Group.display_name, call_presenter.group_link
				= model_data TwilioSurveyor::Doc.plural_name, call_presenter.doc_links

		%h2 #{TwilioSurveyor::Call.display_name} Document

		.content-box
			%table.survey
				%thead
					%tr
						%th Type
						%th= TwilioSurveyor::Doc.display_name
						%th Question
						%th Answer
						%th.sym &Delta;&sigma;
						%th.sym &oplus;
						%th Translation
				%tbody= render call.answers.order(created_at: :asc)