timestamp,duration,to,group,doc
- @calls.each do |call|
	- csv_row = call.created_at.to_s + ","+call.duration.to_s+","+call.to.to_s
	- doc_elm = ","
	- group_elm = ","
	- unless call.doc.nil?
		- doc_elm += call.doc.reference_name.to_s
		- unless call.group.nil?
			- group_elm += call.group.reference_name.to_s
	- csv_row += group_elm + doc_elm
	= csv_row