- call_type = @filter || TwilioSurveyor::Call.display_name
%h1 #{call_type.pluralize.capitalize}

.content-box
  = render 'twilio_surveyor/shared/filter_form', type: :call

= render 'twilio_surveyor/shared/survey_data', docs: TwilioSurveyor::Doc.all, group_id: @group_id

.content-box
  .info
    %span.total 
      #{pluralize(@calls.total_count, call_type)}
    %span.export
      ( #{ link_to "csv", calls_csv_export_path } )
    %span.pagination
      | 
      =paginate @calls

  %table
    %thead
      %tr
        %th timestamp
        %th duration
        %th #{TwilioSurveyor::User.display_name}
        %th.sym.average &Delta;&sigma;
        %th.sym &oplus;
        %th #{TwilioSurveyor::Group.display_name}
        %th #{TwilioSurveyor::Organization.display_name}
        %th #{TwilioSurveyor::Doc.plural_name}

    %tbody
      = render @calls, f: @filter