- unless user.nil?
  - present(user,TwilioSurveyor::UserStatsPresenter) do |user_presenter|
    %tr
      %td= user_presenter.link
      %td= user_presenter.since
      %td= user.organization.reference_name unless user.organization.nil?
      %td= user_presenter.num_docs
      %td= user_presenter.last_doc_link
      %td= user_presenter.average_sigma_difference      
      %td= user_presenter.average_score