%h1 #{TwilioSurveyor::User.plural_name.capitalize}

.content-box
  = render 'twilio_surveyor/shared/filter_form', type: :organization, skip_doc: true


.content-box
  .info 
    %span.total
      #{pluralize(@users.total_count, TwilioSurveyor::User.display_name)}
    %span.pagination
      | 
      =paginate @users
      `
  %table
    %thead
      %tr
        %th #{TwilioSurveyor::User.display_name}
        %th Registration Date
        %th #{TwilioSurveyor::Organization.display_name}
        %th # #{TwilioSurveyor::Doc.plural_name}
        %th last #{TwilioSurveyor::Doc.display_name}
        %th.sym &Delta;&sigma;
        %th.sym &oplus;

    %tbody
      = render @users