- present(@user,TwilioSurveyor::UserStatsPresenter) do |user_presenter|

  %h1 #{TwilioSurveyor::User.display_name.capitalize} ( #{@user.id.to_s} ) 
  .split-boxes.clearfix
    .right-box.content-box
      .large-data
        %span.label.sym.average &Delta;&sigma;
        %span.value= user_presenter.average_sigma_difference 
      %div{ class: "large-data #{' empty' unless user_presenter.stats.has_score? }" } 
        %span.label &oplus;
        %span.value= user_presenter.average_score

    .left-box.content-box
      = model_data "phone number", user_presenter.phone_number
      = model_data "date registered", user_presenter.date_registered
      = model_data "last updated", user_presenter.date_updated
      = model_data TwilioSurveyor::Group.display_name , user_presenter.organization_link
      = model_data "# #{TwilioSurveyor::Call.plural_name}", @user.calls.count
      = model_data "# Grievences", @user.docs.with_filter("grievence").count

  %h1 #{TwilioSurveyor::User.display_name.capitalize} Registration Call

  = render "twilio_surveyor/calls/show", call: @user.current_registration_call

  %h1 #{TwilioSurveyor::User.display_name.capitalize}  #{TwilioSurveyor::Call.display_name.capitalize}  History

  .content-box

    .info
      %span.total 
        #{pluralize(@user.calls.count, TwilioSurveyor::Call.display_name.capitalize )}

    %table
      %thead
        %tr
          %th timestamp
          %th duration
          %th to
          %th.sym.average &Delta;&sigma;
          %th.sym &oplus;
          %th #{TwilioSurveyor::Group.display_name}
          %th #{TwilioSurveyor::Organization.display_name}
          %th #{TwilioSurveyor::Doc.display_name}

      %tbody
        = render @user.calls