= simple_nested_form_for(@group, html: { class: 'form-horizontal'} ) do |f|
  .field
    = f.input :reference_name, label: 'Group Name'
    = f.text_area :summary
    = f.input :incoming_number
    = f.input :outgoing_number
    = f.input :outside_number

  .field
    = f.collection_select :doc_ids, @docs, :id, :reference_name, {include_blank: "Select #{TwilioSurveyor::Doc.plural_name.capitalize}"}, {multiple: true}

  .form-tools
    = f.button :submit, class: 'btn btn-info'