- unless group.nil?
  - present(group,TwilioSurveyor::GroupStatsPresenter) do |group_presenter|
    %tr
      %td= group.reference_name
      %td= group.docs.count
      %td= group.organizations.count
      %td= group_presenter.rating
      %td= group_presenter.sigma_score
      %td= group_presenter.reliability_score
      %td= group_presenter.use_score
      %td= link_to 'Show', group
      %td= link_to 'Edit', edit_group_path(group)
      %td= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' }

