%h1 Listing #{TwilioSurveyor::Group.plural_name}

.content-box
  .info 
    %span.total
      #{pluralize(@groups.count, TwilioSurveyor::Group.display_name)}

  %table
    %thead
      %tr
        %th #{TwilioSurveyor::Group.display_name.capitalize} Name
        %th # #{TwilioSurveyor::Doc.plural_name.capitalize}
        %th # #{TwilioSurveyor::Organization.plural_name.capitalize}
        %th.sym Score
        %th.sym Sigma
        %th.sym Reliability
        %th.sym Use
        %th
        %th
        %th

    %tbody
      = render @groups

= link_to "New #{TwilioSurveyor::Group.display_name.capitalize}", new_group_path
