- present(@group,TwilioSurveyor::GroupStatsPresenter) do |group_presenter|

  %h1 #{TwilioSurveyor::Group.display_name.capitalize} ( #{@group.id.to_s} ) 

  .split-boxes.clearfix
    .right-box.content-box
      .large-data.text
        %span.label Score:
        %span.value= group_presenter.rating 
      = model_data "Sigma Score", group_presenter.sigma_score
      = model_data "Reliability Score", group_presenter.reliability_score
      = model_data "Use Score", group_presenter.use_score

    .left-box.content-box
      .tools.pull-right
        %span= link_to 'List', groups_path
        %span= link_to 'Edit', edit_group_path(@group)
      .pull-left
        = model_data "Name", @group.reference_name
        = model_data "Summary", @group.summary



  %h1 #{TwilioSurveyor::Group.display_name.capitalize}  #{TwilioSurveyor::Doc.plural_name.capitalize}  

  .content-box
    .info
      %span.total 
        #{pluralize(@group.docs.count, TwilioSurveyor::Doc.display_name.capitalize )}

    %table
      %thead
        %tr
          %th Name
          %th # #{TwilioSurveyor::Page.plural_name.capitalize}
          %th
          %th
          %th

      %tbody
        = render @group.docs


  %h1 #{TwilioSurveyor::Group.display_name.capitalize}  #{TwilioSurveyor::Organization.plural_name.capitalize}  

  .content-box
    .info
      %span.total 
        #{pluralize(@group.organizations.count, TwilioSurveyor::Organization.display_name.capitalize )}

    %table
      %thead
        %tr
          %th Name
          %th # #{TwilioSurveyor::Organization.plural_name.capitalize}
          %th
          %th
          %th
          %th

      %tbody
        = render @group.organizations
