- if flash.count > 0
  - flash.each do |name, msg|
    .clearfix
      %div{ class: "alert alert-#{name == :notice ? "success" : "error"}" }
        %a.close.pull-right{"data-dismiss" => "alert"} ×
        %div{ id: "flash_#{name}" }= msg.to_s