%footer
  .content.footer-wrapper
    %ul.pull-right
      %li
        = link_to "twilio-surveyor engine", "https://github.com/brookisme/twilio-surveyor"

    %ul.footer-links
      %li 
        = link_to "Twilio Docs", "http://www.twilio.com/docs"
      %li 
        = link_to "Twilio Account", "https://www.twilio.com/user/account"
      %li
        = link_to "AWS", "https://console.aws.amazon.com/s3/"
