%header
	.content.nav-wrapper
		.right-nav.pull-right
			%ul.right-navigation
				%li= link_to "call number", call_number_path
				%li= link_to "logout", destroy_admin_session_path
				
		.main-nav
			%ul.main-navigation
				%li= nav_link "dashboard", root_path
				%li= nav_link TwilioSurveyor::Call.plural_name, calls_path
				%li= nav_link TwilioSurveyor::User.plural_name, users_path
				%li= nav_link TwilioSurveyor::Group.plural_name, groups_path
				%li= nav_link TwilioSurveyor::Organization.plural_name, organizations_path
				%li= nav_link TwilioSurveyor::Doc.plural_name, docs_path
				- unless TwilioSurveyor.config["call_filters"].nil?
					- TwilioSurveyor.config["call_filters"].each do |filter_name|
						%li= nav_link filter_name.pluralize, calls_path + "/type/" + filter_name


