!!!
%html
  %head
    %title IVR Stats Admin
    %link{ href: "/favicon.ico", rel: "shortcut icon", type: "image/x-icon" }
    %link{ href: "/favicon.ico", rel: "icon", type: "image/x-icon" }
    %meta{ charset: "utf-8" }
    %meta{ content: "NOINDEX, NOFOLLOW", name: "ROBOTS" }
    %meta{ content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }
    %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport" }
    %meta{ content: "", name: "description" }
    %meta{ content: "", name: "author" }
    = csrf_meta_tags
    = stylesheet_link_tag    "twilio_surveyor/application", :media => "all"
    = stylesheet_link_tag    "twilio_surveyor_stats/application", :media => "all"
    = yield :styles
  %body
    = render 'layouts/twilio_surveyor/header'
    = render 'layouts/twilio_surveyor/alerts'
    .content.main-wrapper
      = yield :lead
      = yield
    = render 'layouts/twilio_surveyor/footer'


    / scripts
    = javascript_include_tag "twilio_surveyor/application"
    = javascript_include_tag "twilio_surveyor_stats/application"
    = yield :javascripts