.info
  .span Activity

.data.left.wide
  %span.key number of #{TwilioSurveyor::Call.plural_name}
  %span.value= @system_report[:total_calls]
.data.left.wide
  %span.key total #{TwilioSurveyor::Call.display_name} duration
  %span.value= @system_report[:total_call_duration]
.data.left.wide
  %span.key average #{TwilioSurveyor::Call.display_name} duration
  %span.value= number_with_precision(@system_report[:avg_call_duration],precision: 2)
.data.left.wide
  %span.key total recording length
  %span.value= @system_report[:total_recording_duration]
.data.left.wide
  %span.key average per #{TwilioSurveyor::Call.display_name}
  %span.value= number_with_precision(@system_report[:avg_recording_duration],precision: 2)