.info
  .span Scores
.data.wide.left
  %span.key number of #{TwilioSurveyor::User.plural_name}
  %span.value= @system_report[:total_users]
.data.wide.left
  %span.key number of #{TwilioSurveyor::Doc.plural_name}
  %span.value= @system_report[:total_docs]
.data.wide.left
  %span.key number #{TwilioSurveyor::Group.plural_name}
  %span.value= @system_report[:total_groups]