- selector_options = options_for_select([TwilioSurveyor::Group.display_name,TwilioSurveyor::Organization.display_name])
- group_options = options_from_class(TwilioSurveyor::Group,nil,"outside_number")
- organization_options = options_from_class(TwilioSurveyor::Organization,nil,"outside_number")
- doc_options = options_from_class(TwilioSurveyor::Doc)

- if TwilioSurveyor.config['trigger'].blank? || TwilioSurveyor.config['trigger']['from_map'].blank?
  - call_number_name = "From"
  - group_or_organization_number_name = "To"
- else 
  - call_number_name =  TwilioSurveyor.config['trigger']['from_map']
  - group_or_organization_number_name =  TwilioSurveyor.config['trigger']['to_map']



%h1 Twilio Surveyor Demo
%h2{:style => "color: #ff0000"}= params['msg']
%h2 This form triggers a call as if it where an outside trigger (such as a missed call system).


%h3 Enter a number and select a *doc.

%form{action: zdial_call_path, method: :post}
  .form-section
    #{label_tag "number"}:
    %input{name: call_number_name, type: "text"}/

  .form-section.submission-selector{ data: { submission_name: "#{group_or_organization_number_name}" } }
    #{label_tag("registration_type")}:
    = select_tag("registration_type",selector_options,class: "selector")

    %div{ class: "selection #{TwilioSurveyor::Group.display_name} selected" }
      #{label_tag TwilioSurveyor::Group.display_name}:
      = select_tag(group_or_organization_number_name,group_options)

    %div{ class: "selection #{TwilioSurveyor::Organization.display_name}" }
      #{label_tag TwilioSurveyor::Organization.display_name}:
      = select_tag(nil,organization_options)

  .form-section
    #{label_tag TwilioSurveyor::Doc.display_name}:
    = select_tag("doc",doc_options)

  - unless TwilioSurveyor.config['trigger'].blank? || TwilioSurveyor.config['trigger']['access_key'].blank? 
    = hidden_field_tag(TwilioSurveyor.config['trigger']['access_key_map'],nil,value:TwilioSurveyor.config['trigger']['access_key'])
    = hidden_field_tag(TwilioSurveyor.config['trigger']['id_map'],nil,value:TwilioSurveyor.config['trigger']['id'])

  .form-submit 
    %input{:type => "submit", :value => "Call User"}/

%br
.div *If the user is not registerd they will be registered instead.
