%h1 Dashboard
.split-boxes.clearfix
  .right-box.content-box
  .left-box.content-box
    = render 'summary_box'
    %br
    = render 'activity_box'

- unless @last_call.nil?
  %h1 Latest #{TwilioSurveyor::Call.display_name} ( #{link_to @last_call.id.to_s, call_path(@last_call) } )
  = render 'twilio_surveyor/calls/show', call: @last_call