- unless doc.nil?
  - present(doc,TwilioSurveyor::DocStatsPresenter) do |doc_presenter|
    %tr
      %td= doc.reference_name
      %td= doc.pages.count
      %td= doc_presenter.average_sigma
      %td= doc_presenter.average_reliability

      - if (defined?(organization_id) && !organization_id.blank?)
        - doc_presenter.for_organization_id = organization_id
        %td= doc_presenter.average_sigma_for_organization
        %td= doc_presenter.average_reliability_for_organization

      %td= link_to 'Show', doc
      %td= link_to 'Edit', edit_doc_path(doc)
      %td= link_to 'Destroy', doc, method: :delete, data: { confirm: 'Are you sure?' }

