= simple_nested_form_for(@doc, html: { class: 'form-horizontal'} ) do |f|
  .form-section-box
    .xml-link 
      = link_to "doc.id = #{ f.object.id.to_s }", "/twilio_surveyor/docs/#{ f.object.id.to_s }"
    .field
      = f.input :reference_name, label: 'Doc Name'
    .field
      = f.text_area :description
    .field
      = f.input :is_registration

  .form-section-box
    %h2 No Response Handling
    .field
      = f.input :no_response_action, collection: ["more_time","repeat","more_time-repeat","hangup"]
    #page-speaks.has-many.input-section
      = render_fields :no_response_speaks, f, false, :speak
      = f.link_to_add "add no-response-speak", :no_response_speaks, class: 'speak'
    #page-speaks.has-many.input-section
      = render_fields :end_call_speaks, f, false, :speak
      = f.link_to_add "add end-call-speak", :end_call_speaks, class: 'speak'

    %h2 Invalid Entry Handling
    #page-speaks.has-many.input-section
      = render_fields :invalid_entry_speaks, f, false, :speak
      = f.link_to_add "add invalid-entry-speak", :invalid_entry_speaks, class: 'speak'


  .form-section-box
    %h2 Document
    .field
      = f.simple_fields_for :call_filters do |call_filter|
        - unless TwilioSurveyor.config["call_filters"].nil?
          - TwilioSurveyor.config["call_filters"].each do |filter_name|
            - unless f.object.call_filters.blank?
              = call_filter.input filter_name, input_html: { checked: (f.object.call_filters[filter_name]=="1") }, as: :boolean


    #doc-page.has-many.input-section
      = render_fields :pages, f
      = f.link_to_add "add page", :pages, class: 'page'

  .form-section-box
    %h2 Next Document
    
    .field
      = f.association :next_doc, label_method: :reference_name
 
    #page-speaks.has-many.input-section
      = render_fields :transfer_speaks, f, false, :speak
      = f.link_to_add "add transfer-speak", :transfer_speaks, class: 'speak'


  .form-tools
    = f.button :submit, class: 'btn btn-info'