
- present(doc,TwilioSurveyor::DocStatsPresenter) do |doc_presenter|
  - content_for :javascripts do
    = javascript_include_tag "http://d3js.org/d3.v3.min.js"
    :javascript
      var data =
      #{doc_presenter.sigma_data}



  .split-boxes.clearfix
    .right-box.content-box
      %h2 Sigma over time
      #page_graph{ data: {type: "scatter" } }

    .left-box.content-box
      .tools.pull-right
        %span= link_to 'List', twilio_surveyor.docs_path
        %span= link_to 'XML', twilio_surveyor.doc_path(doc)+".xml"
        %span= link_to 'Edit', twilio_surveyor.edit_doc_path(doc)
        %span= link_to 'Destroy', doc, method: :delete, data: { confirm: 'Are you sure?' }

      .pull-left
        = model_data "Name", doc.reference_name
        = model_data "Description", doc.description
        .subsec
          = model_data "# #{TwilioSurveyor::Organization.plural_name}", doc_presenter.number_of_organizations
          = model_data "# #{TwilioSurveyor::Call.plural_name}", doc_presenter.number_of_calls
          = model_data "Sigma", doc_presenter.average_sigma 
          = model_data "Reliability", doc_presenter.average_reliability 
        .subsec
          - if doc.groups.nil?
            %h2 This #{TwilioSurveyor::Doc.display_name} has not been added to any #{TwilioSurveyor::Group.plural_name}.
          - else
            %h2 Scores By #{TwilioSurveyor::Organization.display_name}
            = render 'twilio_surveyor/shared/organization_filter', organizations: doc.organizations, select_prompt: "Select #{TwilioSurveyor::Organization.display_name} ", button_text: "Get #{TwilioSurveyor::Organization.display_name} scores"
          
          - unless @stats_for_organization_id.blank?
            .subsec
              - doc_presenter.for_organization_id = @stats_for_organization_id

              = model_data "# #{TwilioSurveyor::Call.plural_name}", doc_presenter.number_of_calls_for_organization
              = model_data "Sigma", doc_presenter.average_sigma_for_organization 
              = model_data "Reliability", doc_presenter.average_reliability_for_organization
  
%h2 #{TwilioSurveyor::Doc.display_name.capitalize + " " + TwilioSurveyor::Page.plural_name}

.content-box
  %table.survey
    %thead
      %tr
        %th Order
        %th Type
        %th #{TwilioSurveyor::Page.display_name}
        %th # responses
        %th Sigma
        %th Average
        %th Menu
    %tbody= render doc.pages