%h1 #{TwilioSurveyor::Doc.plural_name.capitalize}

.content-box.clearfix
  .pull-left.form_wrapper
    %h2 Show #{TwilioSurveyor::Group.display_name}
    = render 'twilio_surveyor/shared/filter_form', skip_number: true,  skip_organization: true, skip_doc: true
  - unless @group_id.nil?
    .pull-left.form_wrapper
      - group = TwilioSurveyor::Group.find(@group_id)
      - if group.nil?
        %h2 Something went wrong.  No Group with id #{group_id}
      - else
        %h2 Add Scores By #{TwilioSurveyor::Organization.display_name}
        = render 'twilio_surveyor/shared/organization_filter', organizations: group.organizations, select_prompt: "Select #{TwilioSurveyor::Organization.display_name} ", button_text: "Get #{TwilioSurveyor::Organization.display_name} scores"


= render 'twilio_surveyor/shared/survey_data', docs: @docs, group_id: @group_id

.content-box
  .info 
    %span.total
      #{pluralize(@docs.total_count, TwilioSurveyor::Doc.display_name)}

  %table
    %thead
      %tr
        %th #{TwilioSurveyor::Doc.display_name.capitalize} Name
        %th # #{TwilioSurveyor::Page.plural_name.capitalize}
        %th.sym.average &Delta;&sigma;
        %th.sym &oplus;
        - unless @stats_for_organization_id.nil?
          %th.sym.average.green &Delta;&sigma;
          %th.sym.green &oplus;
        %th
        %th
        %th

    %tbody
      = render @docs, organization_id: @stats_for_organization_id

= link_to "New #{TwilioSurveyor::Doc.display_name.capitalize}", new_doc_path
