- unless alert.nil?
  - present(alert,TwilioSurveyorStats::AlertPresenter) do |alert_presenter|
    %tr
      %td= alert_presenter.group_name
      %td= alert_presenter.doc_name
      %td= alert_presenter.page_name
      %td= link_to 'Show', alert
      %td= link_to 'Edit', edit_alert_path(alert)
      %td= link_to 'Destroy', alert, method: :delete, data: { confirm: 'Are you sure?' }

