= simple_nested_form_for(@alert, html: { class: 'form-horizontal'} ) do |f|
  .field
    = f.input :greater_than
  .field
    = f.input :average
  .field
    = f.input :sigma
  .field
    = f.input :text_numbers, as: :text
  .field
    = f.input :emails, as: :text
  .field
    = f.input :text_message, as: :text
  .field
    = f.association :page, label_method: :reference_name

  .form-tools
    = f.button :submit, class: 'btn btn-info'
