%h1 Listing Alerts

.content-box
  .info 
    %span.total= pluralize(@alerts.count, "Alert")

  %table
    %thead
      %tr
        %th= TwilioSurveyor::Group.display_name
        %th= TwilioSurveyor::Doc.display_name
        %th= TwilioSurveyor::Page.display_name
        %th
        %th
        %th

    %tbody
      = render @alerts

= link_to "New Alert", new_alert_path
