%h2 ALERT SHOW
= @alert.to_json

/   .clearfix
/     .tools.pull-right
/       %span= link_to 'List', alerts_path
/       %span= link_to 'XML', alert_path(alert)+".xml"
/       %span= link_to 'Edit', edit_alert_path(alert)
/       %span= link_to 'Destroy', alert, method: :delete, data: { confirm: 'Are you sure?' }

/     .pull-left
/       = model_data "Name", alert.reference_name
/       = model_data "Description", alert.description
/       = model_data("Group", alert.group.reference_name) unless alert.group.nil?
/       = model_data("Registration For Group", alert.group_for_registration.reference_name) unless alert.group_for_registration.nil?

  
/ %h2 #{"Alert" + " " + TwilioSurveyor::Page.plural_name}

/ .content-box
/   %table.survey
/     %thead
/       %tr
/         %th Index
/         %th #{TwilioSurveyor::Page.display_name}
/         %th Type
/         %th Max Length
/         %th Num Digits
/         %th Menu
/     %tbody= render alert.pages.order(index: :asc)