- select_prompt = "Select" if select_prompt.nil?
- button_text = "fetch" if button_text.nil?

- unless organizations.nil?
  - url_part = "/#{TwilioSurveyor::Organization.display_name}-stats"
  = form_tag("#{request.path.gsub(url_part,"")+url_part}", method: :post) do
    %span.filter
      = select_tag 'stats_for_organization_id', options_from_array(organizations,select_prompt,@stats_for_organization_id)
    %span.filter
      = submit_tag button_text, class: 'btn btn-search'
    - if @group_id
      = hidden_field_tag 'group_id', @group_id