- content_for :javascripts do
  = javascript_include_tag "http://d3js.org/d3.v3.min.js"
  :javascript
    var data =
    #{i=0;TwilioSurveyor::Call.by_group_id(group_id).where.not(duration: nil).order(created_at: :desc).limit(300).reverse.collect{ |call| i+=1;{ yval: call.duration.to_i, xval: i } if !call.duration.nil?  }.compact.to_json };


.split-boxes.clearfix
  .right-box.content-box
    %h2 Usage Graph ( Duration for last 300 calls )
    #page_graph{ data: {type: "area" } }


  .left-box.content-box
    %h2 Survey Data
    - doc_count = defined?(docs.total_count) ? docs.total_count : docs.count
    = model_data "# #{TwilioSurveyor::Doc.plural_name}", doc_count
    = model_data "Avg Sigma", TwilioSurveyor::DocStats.average_sigma 
    = model_data "Avg Reliability", TwilioSurveyor::DocStats.average_reliability 
    .sub_sec
      %h2 Call Data
      = model_data "# #{TwilioSurveyor::Call.plural_name}", TwilioSurveyor::Call.by_group_id(group_id).count
      = model_data "Tot Duration", TwilioSurveyor::CallStatsPresenter.total_duration(self,group_id)
      = model_data "Avg Duration", TwilioSurveyor::CallStatsPresenter.average_duration(self,group_id)
      = model_data "Tot Recordings", TwilioSurveyor::CallStatsPresenter.total_recording_duration(self,group_id)
      = model_data "Avg Recordings", TwilioSurveyor::CallStatsPresenter.average_recording_duration(self,group_id)
