- unless answer.nil?
  - present(answer,TwilioSurveyor::AnswerStatsPresenter) do |answer_presenter|

    %tr
      %td= answer.page.response_type
      %td= answer_presenter.doc_link
      %td= answer_presenter.question_link
      %td= answer_presenter.answer_string
      %td= answer_presenter.sigma_difference
      %td= answer_presenter.score
      %td= answer_presenter.translation_link
