- present @answer do |answer_presenter|

  %h1 Answer ( #{@answer.id.to_s} ) 
  .content-box
    .clearfix
      .pull-left
        = model_data "Response Type", @answer.page.response_type
        = model_data "Question", answer_presenter.question_link
        = model_data "Answer", answer_presenter.answer_string

  - if @answer.page.response_type == "record"
    %h2 Translation
    .content-box
      = @answer.translation
